
modules = ["nodejs-20", "web"]
run = "npx http-server . -p 5000 -a 0.0.0.0"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Web Server"

[[workflows.workflow]]
name = "Run Web Server"
author = 44558869
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server . -p 5000 -a 0.0.0.0"

[deployment]
run = ["sh", "-c", "npx http-server . -p 5000 -a 0.0.0.0"]
